apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-dataset
spec:
  capacity:
    storage: 15Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /srv/sae5/dataset
