apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-models
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  volumeName: pv-models
  storageClassName: ""
