apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-dataset
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  volumeName: pv-dataset
  storageClassName: ""
