services:
  front:
    container_name: front-test
    build:
      context: ./front
      dockerfile: Dockerfile.test
    ports:
      - "8080:80"
    environment:
      - BACKEND_API_ADDRESS=${BACKEND_API_ADDRESS}
  api:
    container_name: api-test
    build:
      context: ./back
      dockerfile: Dockerfile.test
    ports:
      - "8000:8000"
    volumes:
      - ./back:/app
      - ./back/uploads:/app/uploads  
      - ${MODEL_DIR}:/app/models
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PROFILE=${APP_PROFILE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      
