services:
  front:
    container_name: front-test
    build:
      context: ./front
      dockerfile: Dockerfile.test
    ports:
      - "8081:80"
  api:
    container_name: api-test
    build:
      context: ./back
      dockerfile: Dockerfile.test
    ports:
      - "8001:8000"
    volumes:
      - ./back:/app
      - ./back/uploads:/app/uploads  
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PROFILE=${APP_PROFILE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
