services:
  front:
    container_name: front-prod
    build:
      context: ./front
      dockerfile: Dockerfile.prod
      args:
        - EXPO_PUBLIC_BACKEND_API_ADDRESS=${BACKEND_API_ADDRESS}
    ports:
      - "80:80"
    environment:
      - EXPO_PUBLIC_BACKEND_API_ADDRESS=${BACKEND_API_ADDRESS}
  api:
    container_name: api-prod
    build:
      context: ./back
      dockerfile: Dockerfile.prod
    ports:
      - "8000:8000"
    volumes:
      - ./back:/app
      - ./back/uploads:/app/uploads
      - ${MODEL_DIR}:/app/models
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PROFILE=${APP_PROFILE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
