services:
  front:
    container_name: front-test
    build:
      context: ./front
      dockerfile: Dockerfile.test
    ports:
      - "8080:8080"
  api:
    container_name: api-prod
    build:
      context: ./back
      dockerfile: Dockerfile.test
    ports:
      - "8000:8000"
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PROFILE=${APP_PROFILE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
