services:
  front:
    container_name: front-prod
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    environment:
      - BACKEND_API_ADDRESS=${BACKEND_API_ADDRESS}
  api:
    container_name: api-prod
    build:
      context: ./back
      dockerfile: Dockerfile.prod
    ports:
      - "8000:8000"
    volumes:
<<<<<<< HEAD
      - ./back:/app
      - ./back/uploads:/app/uploads
=======
      - ../sae5-model:/app/models
>>>>>>> aac8415 (:sparkles:(Docker): add automatic model deployment support for docker)
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PROFILE=${APP_PROFILE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
