services:
  front:
    container_name: front-dev
    build:
      context: ./front
      dockerfile: Dockerfile.dev
    ports:
      - "8082:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    volumes:
      - ./front:/app
      - ./front:/recognition_model
      - /app/node_modules
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
  api:
    container_name: api-dev
    build:
      context: ./back
      dockerfile: Dockerfile.dev
    ports:
      - "8002:8000"
    environment:
      - APP_NAME=${APP_NAME}
      - APP_PROFILE=${APP_PROFILE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
