services:
  front:
    container_name: front-test
    build:
      context: ./front
      dockerfile: Dockerfile.test
    ports:
      - "8080:8080"
  api:
    container_name: api-prod
    build:
      context: ./back
      dockerfile: Dockerfile.test
    ports:
      - "8000:8000"
    env_file: .env
