# Environment configuration for SAE5 backend
APP_NAME=sae5
# dev | prod | test | dev-dtrivino | dev-mfries | dev-jbrochot | dev-akesseler
APP_PROFILE=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

BACKEND_API_ADDRESS=

MODEL_DIR=../sae5-model